.main {
    max-width: 1100px;
    margin: 20px auto 20px auto;
    @include flexCenter(center, center);
    flex-wrap: wrap;
}

.container {
    border: 2px solid $border-color;
    margin: 20px 10px;
    width: 330px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
    }

    h3 {
        background-color: $secondary-color;
        border-bottom: 2px solid $border-color;
        padding: 10px;
        color: $text-color;
    }
}

.circle-container {
    @include flexCenter(space-evenly, center);
    background-color: $primary-color;
    padding: 10px 5px;
}

.card {
    @include flexCenter(space-between, center);
    width: 100px;
    flex-direction: column;
    height: 170px;
    overflow: hidden;
    padding: 5px 0;

    .text {
        color: $text-color;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    .percent {
        position: relative;
        width: 100px;
        height: 100px;

        .number {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 100%;
            height: 100%;
            @include flexCenter(center, center);

            p {
                color: $text-color;
                font-weight: 700;
                font-size: 18px;

                span {
                    color: $text-color;
                    font-size: 16px;
                }

            }
        }
    }
}

svg {
    position: relative;
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);

    circle {
        width: 100%;
        height: 100%;
        fill: none;
        stroke: #adadad;
        stroke-width: 6;
        stroke-linecap: round;
        transform: translate(5px, 10px);

        &:nth-child(2) {
            stroke-dasharray: 252;
            stroke-dashoffset: 252;
        }
    }
}

.container:nth-child(1) .card:nth-child(1) svg circle:nth-child(2),
.container:nth-child(1) .card:nth-child(2) svg circle:nth-child(2),
.container:nth-child(1) .card:nth-child(3) svg circle:nth-child(2) {
    stroke: green;
}

.container:nth-child(1) .card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: 32;
}

.container:nth-child(1) .card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: 68;
}

.container:nth-child(1) .card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: 70;
}

.container:nth-child(2) .card:nth-child(1) svg circle:nth-child(2),
.container:nth-child(2) .card:nth-child(2) svg circle:nth-child(2),
.container:nth-child(2) .card:nth-child(3) svg circle:nth-child(2) {
    stroke: red;
}

.container:nth-child(2) .card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: 191;
}

.container:nth-child(2) .card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: 186;
}

.container:nth-child(2) .card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: 183;
}

.arrow-card {
    @include flexCenter(space-evenly, center);
    flex-direction: column;
    width: 100px;
    height: 170px;
    overflow: hidden;
    padding: 5px 0;

    .text {
        color: $text-color;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 1px;
        word-spacing: 2px;
        height: 70px;
    }

    .arrow {
        @include flexCenter(center, center);

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        .rotate {
            transform: rotate(90deg);
        }
    }
}

hr {
    width: 80px;
}