@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

$primary-color: #ffffff;
$secondary-color: #eaeaea;
$text-color: #555;
$border-color: #c1c1c1;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f2f2f2;
}

@mixin flexCenter($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin mobile-450 {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin mobile-400 {
    @media (max-width: 400px) {
        @content;
    }
}