nav {
    @include flexCenter(space-evenly, center);
    max-width: 500px;
    padding: 10px 10px 0 10px;
    margin: 0 auto;

    @include mobile-450 {
        max-width: 400px;
        padding: 0;
    }

    @include mobile-400 {
        max-width: 310px;
    }

    a {
        padding: 10px 15px;
        text-decoration: none;
        color: black;

        @include mobile-400 {
            padding: 8px;
            font-size: 14px;
        }
    }
}

.active-link {
    background-color: $primary-color;
    color: blue;
}