.box {
    min-height: 100vh;
    max-width: 1150px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: $primary-color;
    overflow-x: auto;
}

.table-main {
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    font-weight: 500;
    background-color: rgb(113, 152, 179);
}

.lazyload-wrapper {
    &:nth-child(even) {
        background-color: $secondary-color;
    }

    div {
        @include flexCenter(center, center);
        height: 70px;
        padding: 10px;
    }
}

.recipe {
    @include flexCenter(center, center);
    height: 70px;
    border-bottom: 2px solid $border-color;
    text-align: center;
    padding: 10px;

    &:not(.head):hover {
        background-color: #cacaca;
    }

    #{&}-checkbox {
        min-width: 60px;

        input {
            cursor: pointer;
        }
    }

    #{&}-name {
        min-width: 200px;
        width: 100%;
    }

    #{&}-updt {
        min-width: 150px;
    }

    #{&}-cogs,
    #{&}-gross {
        min-width: 100px;
    }

    #{&}-cp,
    #{&}-sp {
        min-width: 120px;
    }

    #{&}-tags {
        min-width: 200px;

        span {
            background-color: pink;
            padding: 8px;
            font-size: 12px;
            border-radius: 20px;
        }
    }
}